*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
  .erreur{
    text-align: center;
    color: #ff0000;
    font-weight: 400;
    font-size: 20px;
  }
  .oublie{
    font-size: 14px;
    text-align: start;
    margin-left: 5%;
    padding: 0%;
  }
  .voir{
    
      font-size: 14px;
      text-align: end;
      margin-right: 8%;
      padding: 0%;
  }
  .contentC{
    display: flex;
    justify-content: space-between;
  }
  .con2 {
    background-image: linear-gradient(120deg, #7ea0d6 0%, #c0e6f8 100%); 
    background: -webkit-linear-gradient(to left, #f4f5f5, #294db1);  
   
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-position: center center;
    padding: 15px;
  }
.headerC {
    margin: 2% auto 5% auto;
    text-align: center;
    color: #0b123b;
}
.headerC h3 {
    font-family: 'Playfair Display', serif;
    
}
.headerC p{
font-size: 13px;

}
  .con2 form {
   /* background:url(https://media.istockphoto.com/id/1033774404/fr/photo/balade-part-pilote-dans-la-voiture-%C3%A0-laide-de-lapplication-de-covoiturage-dans-la.webp?s=612x612&w=is&k=20&c=h1gTR7n2O-mtB0ZzvkfOSuhW2qWuF7lhmeiWLhJ4O7s=)
    no-repeat center; */
    border-radius: 6px;
    width: 100%;
    max-width: 400px;
    position: absolute;
    top:25%;
  }
  
  .con2 form .inner-form {
   
    background:rgba(255, 255, 255, 0.329);
    padding: 10px;
    border-radius: 6px;
    display: -ms-flexbox;
    display: column;
    width: 100%;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: rgba(36, 36, 39, 0.2) 0px 7px 29px 0px;
  }
  
  .con2 form .inner-form .input-field {
    position: relative;
    border-right: 1px solid rgba(221, 221, 221, 0);
    height: auto;
  }
  
  .con2 form .inner-form .input-field .icon-wrap {
    position: absolute;
    top: 1px;
    left: 0;
    width: 60px;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
  }
  
  .con2 form .inner-form .input-field .icon-wrap {
    color: #707070;
  }
  
  .con2 form .inner-form .input-field input {
    height: 30px;
    background: #fff;
    border-radius: 3px;
    border: 0;
    display: block;
    margin-top: 3%;
    width: 80%;
    margin-left: 5%;
    padding: 10px 15px 10px 45px;
    font-size: 16px;
    color: rgb(14, 13, 13);
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
  }
  
  .con2 form .inner-form .input-field input.placeholder {
    color: #9a9a9a;
    font-size: 16px;
    font-weight: 400;
    
  }
  
  
  .con2 form .inner-form .input-field input:hover, .con2 form .inner-form .input-field input:focus {
    box-shadow: none;
    outline: 0;
  }
  
  .con2 form .inner-form .input-field.first-wrap {
    min-width: 350px;
    max-width: 350px;
    justify-content: center;
    padding-left: 10px;
    border-right: 0;
  }
  
  
  .con2 form .inner-form .input-field.fifth-wrap {
    min-width: 190px;
    max-width: 190px;
    justify-content: center;
    padding-left: 10px;
    border-right: 0;
    margin-bottom: 0%;
   
  }

  .spanC{
    text-align: center;
    justify-content: center;
    display: flex;
  }
  .linkC:hover{
    text-decoration: underline;
    color: #ff5e00;
  }
  .linkC{
   margin-left: 2px;
  }
  
  .con2 form .inner-form .input-field.fifth-wrap .btn-search {
    height: 50px;
    min-width: 340px;
    max-width: 340px;
    background: #035185;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    transition: all .2s ease-out, color .2s ease-out;
    border: 0;
    cursor: pointer;
    font-weight: 400;
    margin-left: 5%;
    margin-bottom: 0%;
    margin-top: 4%;
    font-family: 'Poppins', sans-serif;
  }
  
  .con2 form .inner-form .input-field.fifth-wrap .btn-search:hover {
    background: #018cfffb;
    animation: ani9 0.4s ease-in-out infinite alternate;
  }
  @keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}
  @media screen and (max-width: 992px) {
    .con2 form .inner-form {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: justify;
          justify-content: space-between;
    }
    .con2 form .inner-form .input-field {
      margin-bottom: 15px;
    }
    .con2 form .inner-form .input-field.first-wrap {
      width: 80%;
    }
    .con2 form .inner-form .input-field.second-wrap {
      width: calc(50% - 7.5px);
      max-width: none;
    }
    .con2 form .inner-form .input-field.fifth-wrap .btn-search {
    margin-left: 10%;
    } 
    .con2 form .inner-form .input-field.fifth-wrap {
      width: calc(50% - 7.5px);
      max-width: none;
      padding-left: 0;
      margin-bottom: 0;
    }
  }
  
  @media screen and (max-width: 767px) {
    .con2 form legend {
      font-size: 40px;
      margin-bottom: 40px;
    }
  
    .con2 form {
      width: 100%;
      top:30%;
      margin-left: 5%;
      margin-right: 5%;
    }
  
    .con2 form .inner-form .input-field.first-wrap {
      min-width: 300px;
      max-width: 300px;
      justify-content: center;
      padding-left: 10px;
      border-right: 0;
    }
    
    .con2 form .inner-form .input-field.fifth-wrap {
      margin-bottom: 0;
      padding-bottom: 0;
    }
    .con2 form .inner-form {
      padding-left: 010%;
    }
    .con2 form .inner-form .input-field.fifth-wrap .btn-search {
      min-width: 300px;
      max-width: 300px;
      margin-left: 5%;
      
    }
  }
  
   .h1{
    position: fixed;
    top: 8vh;
    font-size: 60px;
    
  }